####################################################################################
#   При проблемах с зависимостями и сборкой окружения используте тэг dependency!   #
#   Пожалуйста! Тестируйте автосборку venv после каждого изменения этого файла!    #
#            Это недолго и сэкономит кучу времени другим разрабам!                 #
####################################################################################

# Ethereum stuff
web3==4.4.1
ethereum==2.3.0
eth_abi==0.5.0
eth_utils==0.8.1
eth_rpc_api==0.3.10

# HTTP
requests==2.18.1


#Dependency injecting
inject

rlp==0.6.0
